<h1>All Your Mp3s</h1>

<ol>

<li><h2><%= link_to 'Add New Mp3', new_mp3_path %></h2>
</li>

<li><h2><%= link_to 'Rand Mp3s', :action => 'random' %></h2>
</li>
<ol>
<li><h2><%= link_to 'Rand Mp3s, 2 star', :action => 'random', :rating_min => 2 %></h2>
</li>

<li>
<h2><%= link_to 'Rand Mp3s, 2 star, artist like \'Go\'', :action => 'random', :rating_min => 2, :artist_name => 'Go' %></h2>
</li>

<li>
<h2><%= link_to 'Rand Mp3s, 3 star', :action => 'random', :rating_min => 2 %></h2>
</li>

<li>
<h2><%= link_to 'Rand Mp3s, 3 star, m3u playlist', :action => 'random', :rating_min => 2, :m3u => 1 %></h2>
</li>

</ol>
</ol>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Artist name</th>
    <th>Length</th>
    <th>Rating</th>
  </tr>

<% @mp3s.each do |mp3| %>
  <tr>
    <td><a href="<%=h mp3.url %>">DOWNLOAD</a></td>
    <td><%=h mp3.title %></td>
    <td><%=h mp3.artist_name %></td>
    <td><%=h mp3.length %></td>
    <td><%=h mp3.ratings.average('value') %></td>
    <td><%= link_to 'Rate This', :action => 'new_rating' , :mp3_id => mp3.id %></td>
    <td><%= link_to 'Show', mp3 %></td>
    <td><%= link_to 'Edit', edit_mp3_path(mp3) %></td>
    <td><%= link_to 'Destroy', mp3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
