<h1>New rating</h1>

<% form_for(@rating) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :mp3_id %><br />
    <%= f.text_field :mp3_id %>

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  
<% end %>

<%= link_to 'Back', mp3s_path %>