<h1>Random List Of Mp3s</h1>


<h2><%= link_to 'Home Mp3', mp3s_path %></h2>


<h2><%= link_to 'Save as M3u playlist', :m3u =>1, :rating_min => @min, :artist_name => @artist_name  %></h2>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Artist name</th>
    <th>Length</th>
    <th>Avg Rating</th>
  </tr>

<% @mp3s.each do |mp3| %>
  <tr>
    <td><a href="/storage/mp3<%=h mp3.url %>">DOWNLOAD</a></td>
    <td><%=h mp3.title %></td>
    <td><%=h mp3.artist_name %></td>
    <td><%=h mp3.length %></td>
    <td><%=h mp3.ratings.average('value') %></td>
    <td><%= link_to 'Rate This', :action => 'new_rating' , :mp3_id => mp3.id %></td>
    <td><%= link_to 'Show', mp3 %></td>
    <td><%= link_to 'Edit', edit_mp3_path(mp3) %></td>
    <td><%= link_to 'Destroy', mp3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
