<h1>Editing rating</h1>

<% form_for(@rating) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= f.label :value %></b><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <b>Mp3 Name </b><br/>
    <%=h @rating.mp3.artist_name + " - " + @rating.mp3.title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rating %> |
<%= link_to 'Back', ratings_path %>